html{
	padding: 30px;
}
h1{
	margin-bottom: 80px;
	text-align: center;
}

.container.app {
	background-color: black;
}

.row {
	margin: 0 -30px;
}

.item{
	height: 180px;
	background-color: white;
	margin-bottom: 20px;
	position: relative;
}
.col-sm-4:nth-last-of-type(3) .item,
.col-sm-4:nth-last-of-type(2) .item,
.col-sm-4:nth-last-of-type(1) .item
{
	margin-bottom: 0px;
}

.row-fluid:last-child {
	margin-bottom: 0;
}
.circulo{
	position:absolute;
	height: 90px;
	width: 90px;
	
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -45px;

	background: white;
	border-radius: 50%;
	border : 4px solid black;
	

}

.equis,
.equis::before,
.equis::after{
  	position:absolute;
	
}
.equis{
	height: 90px;
	width: 90px;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -45px;
}
.equis::before,
.equis::after{
	content: "";
	width: 90px;
	top: 0;
	left: 0;
	border-top: 4px solid black;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
}
.equis::before{
	-webkit-transform: translateY(50px) rotate(125deg);
	-moz-transform: translateY(50px) rotate(125deg);
}
.equis::after{
	
	-webkit-transform: translateY(50px) rotate(-125deg);
	-moz-transform: translateY(50px) rotate(-125deg);
}
